.callback
  padding-bottom: 11rem
  +screen('max', 1023)
    padding-bottom: 7rem
  +screen('max', 767)
    padding-bottom: 5rem
  &__box
    border-radius: 15px
    padding: 2rem 4rem
    background: var(--gray-xs)
    display: flex
    justify-content: center
    align-items: center
    gap: 4rem
  &__title
    +fs(22px)
    font-weight: 600
    line-height: 1.05
    font-family: var(--second-family)
  &__container
    border-radius: 15px
    padding: 3rem 4rem
    background: var(--gray-xs)
    display: flex
    justify-content: space-between
    align-items: center
    gap: 5rem
    +screen('max', 1023)
      flex-wrap: wrap
      gap: 3rem
  &__info
    max-width: 365px
    width: 40%
  &__caption
    margin-bottom: 1.6rem
  &__action
    flex-grow: 1
  &__txt
    line-height: 1.1
    color: var(--black-60)
  &__row
    display: grid
    gap: 2.4rem
    grid-template-columns: repeat(3, min(240px, 31%))
    width: 100%
    +screen('max', 600)
      grid-template-columns: 1fr
  &__field
    +fs(16px)
    background: var(--white)
    border: none
    padding: 2rem
    box-sizing: border-box
    border-radius: 12px
    &:placeholder
      color: rgba(31, 32, 35, 0.5)
  &__label
    margin-top: 2.5rem
    +fs(12px)
    color: rgba(31, 32, 35, 0.5)
    a
      color: var(--lazur)
  &__btn
    flex-shrink: 0