+b.callback
  +e.inner.inner
    +e.container
      +e.info
        +e.H3.caption Подпишись на рассылку
        +e.txt Будьте в курсе всех новостей и акций ЖК «Сормовский дуэт»!
      +e.FORM.action
        +e.row
          +e.INPUT.field(placeholder="Имя")
          +e.INPUT.field(placeholder="Email")
          +e.BUTTON.btn.btn_orange Подписаться
        +e.label Отправляя свои данные Вы соглашаетесь с 
          a(href="#") политикой обработки персональных данных