.proposal
  margin-top: 3rem
  +screen('max', 600)
    margin-top: 2.5rem
  &__search
    display: flex
    justify-content: space-between
    align-items: flex-end
    gap: 2rem
    +screen('max', 1023)
      flex-wrap: wrap
  &__col
    flex-grow: 1
    +screen('max', 1023)
      width: 22%
    +screen('max', 600)
      width: 100%
    &:first-of-type
      +screen('max', 1023)
        width: 40%
    &:last-of-type
      +screen('max', 1023)
        order: 2
        width: 100%
  &__caption
    +fs(14px)
    margin-bottom: 1.5rem
    color: rgba(31, 32, 35, 0.5)
  &__list
    display: flex
    gap: .3rem
  &__hidden
    display: none
    &:checked + .proposal__txt
      background: var(--lazur)
      color: var(--white)
  &__txt
    border-radius: 12px
    padding: 1.6rem
    background: var(--gray-xs)
    text-align: center
    line-height: 1.5
    +fs(16px)
    font-weight: 500
    color: var(--brown)
    transition: .5s ease
    cursor: pointer
    width: clamp(55px, 5vw, 88px)
    display: inline-block
    box-sizing: border-box
    +screen('max', 1440)
      width: auto
      min-width: 55px
    +screen('max', 1023)
      min-width: 52px
    +screen('max', 600)
      min-width: 60px
  &__group
    border-radius: 12px
    padding: 1.8rem 2rem
    background: var(--gray-xs)
    position: relative
    box-sizing: border-box
    flex-grow: 1
    width: 50%
  &__field
    +fs(16px)
    background: none
    border: none
    width: 100%
    text-align: center
    margin-left: auto
    margin-right: 0
    display: block
    font-weight: 500
    color: var(--brown)
  &__col
    &:last-of-type
      flex-shrink: 0
  &__submit
    padding: 2rem
    width: min(446px, 23vw)
    +screen('max', 1440)
      width: min(257px, 20vw)
    +screen('max', 1023)
      width: 100%