+b.team
  +e.inner.inner
    +e.left
      +e.H2.title Команда проекта
      +e.box
        +e.IMG.pic(src='/icon/logo-2.svg' alt='')
        +e.A.btn.btn_transparent Перйти на сайт
      +e.IMG.icons(src='/img/partners.png' alt='')
    +e.right
      +e.H3.caption Жилой комплекс «Сормовский Дуэт» — проект компании-девелопера «Столица Нижний», работающей в сфере строительства жилой и коммерческой недвижимости в Нижнем Новгороде с 2003 года
      +e.P.txt За время своего существования «Столица Нижний» стала ведущим девелопером в регионе, осуществляющим полный цикл развития проектов от концептуальной разработки до строительства и последующего управления объектами.«Столица Нижний» одной из первых в городе начала комплексное строительство и занимает первое место по возведению жилья в Нижнем Новгороде.
      +e.video
        +e.IMG.preview(src='/img/preview.png' alt='')
        +e.SVG.play(xmlns='http://www.w3.org/2000/svg' width='66' height='46' fill='none')
          rect(width='66' height='46' fill='#FFBA4F' rx='15')
          path(fill='#4B3620' d='M39 21.7679c1.3333.7699 1.3333 2.6944 0 3.4642l-6.75 3.8971c-1.3333.7698-3-.1925-3-1.7321v-7.7942c0-1.5396 1.6667-2.5019 3-1.7321L39 21.7679Z')

+b.numbs
  +e.inner.inner
    +e.item
      +e.P.meaning.display-1 21
      +e.P.txt Год на рынке
    +e.item
      +e.P.meaning.display-1 137
      +e.P.txt Домов
    +e.item
      +e.P.meaning.display-1 22 000+
      +e.P.txt Квартир
    +e.item
      +e.P.meaning.display-1 55 000+
      +e.P.txt Жителей
    +e.item
      +e.P.meaning.display-1 1 250 000+
      +e.P.txt м2 - площадь проектов


+b.team-mobile
  +e.inner.inner
    +e.H2.title Команда проекта
    +e.box
      +e.IMG.pic(src='/icon/logo-2.svg' alt='')
      +e.A.btn.btn_transparent Перйти на сайт
    +e.H3.caption Жилой комплекс «Сормовский Дуэт» — проект компании-девелопера «Столица Нижний», работающей в сфере строительства жилой и коммерческой недвижимости в Нижнем Новгороде с 2003 года
    +e.P.txt За время своего существования «Столица Нижний» стала ведущим девелопером в регионе, осуществляющим полный цикл развития проектов от концептуальной разработки до строительства и последующего управления объектами.«Столица Нижний» одной из первых в городе начала комплексное строительство и занимает первое место по возведению жилья в Нижнем Новгороде.
    +e.numbs
      +e.item
        +e.P.meaning 21
        +e.P.sign Год на рынке
      +e.item
        +e.P.meaning 137
        +e.P.sign Домов
      +e.item
        +e.P.meaning 22 000+
        +e.P.sign Квартир
      +e.item
        +e.P.meaning 55 000+
        +e.P.sign Жителей
      +e.item
        +e.P.meaning 1 250 000+
        +e.P.sign м2 - площадь проектов
    +e.video
      +e.IMG.preview(src='/img/preview.png' alt='')
      +e.SVG.play(xmlns='http://www.w3.org/2000/svg' width='66' height='46' fill='none')
        rect(width='66' height='46' fill='#FFBA4F' rx='15')
        path(fill='#4B3620' d='M39 21.7679c1.3333.7699 1.3333 2.6944 0 3.4642l-6.75 3.8971c-1.3333.7698-3-.1925-3-1.7321v-7.7942c0-1.5396 1.6667-2.5019 3-1.7321L39 21.7679Z')
    +e.IMG.icons(src='/img/partners.png' alt='')