.team
  margin-top: 10rem
  +screen('max', 1200)
    margin-top: 8rem
  +screen('max', 600)
    margin-top: 5rem
  &__title
    margin-bottom: 4rem
  &__row
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 3rem
    +screen('max', 1200)
      grid-template-columns: 1fr
      gap: 1.5rem
  &__tabs
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 0.5rem
    margin-bottom: 1.5rem
    +screen('min', 601)
      display: none
  &__box
    padding: 4rem 5rem
    box-sizing: border-box
    border-radius: 40px
    flex-flow: column
    background: var(--gray-xs)
    +screen('min', 601)
      display: flex!important
    +screen('max', 1200)
      padding: 3rem
    +screen('max', 600)
      border-radius: 25px
      padding: 2rem 1.5rem
      display: none
    &:first-of-type
      +screen('max', 600)
        display: block
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 3rem
    border-bottom: 1px solid var(--yellow)
    margin-bottom: 3rem
    +screen('max', 600)
      align-items: flex-start
      padding-bottom: 2rem
      margin-bottom: 2rem
  &__subtitle
    +fs(22px)
    font-weight: 600
    line-height: 1.1
    flex-grow: 1
    +screen('max', 600)
      +fs(18px)
  &__btn
    width: 100%
    +screen('max', 1200)
      margin-top: 3rem
  &__holder
    +fs(18px)
    font-weight: 500
    margin-bottom: 2rem
  &__text
    +fs(18px)
    color: var(--black-60)
    p
      margin-bottom: 1rem
  &__pic
    +screen('max', 600)
      width: 70px

.numbs
  margin-bottom: 11rem
  margin-top: 3.5rem
  +screen('max', 600)
    margin-bottom: 5rem
  &__row
    display: flex
    justify-content: space-between
    gap: min(67px, 3.5vw)
    padding: 2rem 5rem
    box-sizing: border-box
    border-radius: 40px
    border: 1px solid var(--black-20)
    +screen('max', 1200)
      padding: 0
      border: 0
      flex-wrap: wrap
  &__item
    +screen('max', 600)
      width: 40%
  &__txt
    font-weight: 600
    +fs(18px)
    line-height: 1.1
    margin-top: 1rem

