+b.team
  +e.inner.inner
    +e.H2.title Команда проекта
    +e.tabs
      +e.BUTTON.tab.btn_gray.active Офис продаж
      +e.BUTTON.tab.btn_gray Застройщик
    +e.row
      +e.box
        +e.head
          +e.P.cation.display-3 Офис продаж
            br
            | «Столица Нижний Риэлти»
          +e.IMG.pic(src='/icon/logo-2.svg' alt='')
        +e.subtitle Профессиональная команда, готовая помочь вам с выбором квартиры и предоставить полную информацию о проекте
        +e.A.btn.btn_transparent Перйти на сайт
      +e.box
        +e.head
          +e.P.cation.display-3 Застройщик
            br
            | ООО СЗ «Старт-Строй»
        +e.holder Жилой комплекс «Сормовский Дуэт» — проект компании-девелопера «Столица Нижний», работающей в сфере строительства жилой и коммерческой недвижимости в Нижнем Новгороде с 2003 года
        +e.text
          p За время своего существования «Столица Нижний» стала ведущим девелопером в регионе, осуществляющим полный цикл развития проектов от концептуальной разработки до строительства и последующего управления объектами.«Столица
          p Нижний» одной из первых в городе начала комплексное строительство и занимает первое место по возведению жилья в Нижнем Новгороде.

+b.numbs
  +e.inner.inner
    +e.row
      +e.item
        +e.P.meaning.display-1 21
        +e.P.txt Год на рынке
      +e.item
        +e.P.meaning.display-1 137
        +e.P.txt Домов
      +e.item
        +e.P.meaning.display-1 22 000+
        +e.P.txt Квартир
      +e.item
        +e.P.meaning.display-1 55 000+
        +e.P.txt Жителей
      +e.item
        +e.P.meaning.display-1 1 250 000+
        +e.P.txt м2 - площадь проектов