.pay
  &__title
    margin-bottom: 5rem
    +screen('max', 1023)
      margin-bottom: 3rem
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2.5rem
    +screen('max', 1200)
      grid-template-columns: repeat(3, 1fr)
    +screen('max', 1023)
      grid-template-columns: repeat(4, 1fr)
      gap: 1rem
    +screen('max', 600)
      grid-template-columns: repeat(2, 1fr)
  &__item
    padding: 3rem 2.5rem 4rem
    box-sizing: border-box
    background: var(--gray-xs)
    border-radius: 30px
    position: relative
    transition: .5s ease
    +screen('max', 1023)
      padding: 3rem 2rem
    +screen('max', 600)
      padding: 1.5rem
      border-radius: 15px
    &:hover
      background: var(--lazur-hover)
      color: var(--white)
      .pay__txt, .pay__more
        color: var(--white)
    &_orange
      background: var(--yellow)
      box-shadow: 0 14px 23px 0 rgba(0, 0, 0, 0.02)
      grid-column: 1/3
      &:hover
        background: var(--yellow-hover)
        color: var(--black)
      +screen('max', 1200)
        grid-column: 1/3
      +screen('max', 1023)
        grid-column: 1/4
      +screen('max', 600)
        grid-column: auto
    &:nth-of-type(2)
      +screen('max', 1023)
        grid-column: 4/5
      +screen('max', 600)
        grid-column: auto
    &:nth-of-type(3)
      grid-row: 1/3
      grid-column: 4/4
      +screen('max', 1200)
        grid-row: 3/4
        grid-column: 1/4
      +screen('max', 1023)
        grid-row: auto
        grid-column: 3/5
        order: 1
      +screen('max', 600)
        grid-column: auto
    &:nth-of-type(5)
      +screen('max', 1023)
        grid-column: 3/5
      +screen('max', 600)
        grid-column: auto
    &:nth-of-type(4), &:nth-of-type(6)
      +screen('max', 1023)
        grid-column: 1/3
      +screen('max', 600)
        grid-column: auto
  &__content
    max-width: 305px
  &__caption
    margin-bottom: 1.5rem
    +screen('max', 600)
      +fs(18px)
      margin-bottom: 0.8rem
  &__txt
    line-height: 1.1
    color: var(--black-60)
    +screen('max', 1200)
      max-width: 500px
    +screen('max', 1023)
      +fs(15px)
    +screen('max', 600)
      display: none
  &__pic
    margin-top: -2rem
    position: absolute
    bottom: 0
    right: 2rem
    +screen('max', 600)
      display: none
  &__icon
    margin-right: -1rem
    position: absolute
    bottom: -10px
    right: -20px
    +screen('max', 1200)
      width: 190px
      right: 30px
    +screen('max', 1023)
      width: 110px
      right: -5px
      bottom: 20px
    +screen('max', 600)
      display: none
  &__row
    margin-top: 4rem
    display: flex
    gap: .5rem
    +screen('max', 1023)
      flex-wrap: wrap
    +screen('max', 600)
      margin-top: 2rem
  &__video
    padding: 2rem 1rem 2rem 2.5rem
    display: flex
    align-items: center
    gap: 2rem
    border-radius: 20px
    box-sizing: border-box
    transition: .5s ease
    +screen('max', 600)
      width: 100%
      padding: 1.5rem .5rem 1.5rem 1.5rem
    &_blue
      background: var(--lazur)
      color: var(--white)
      flex-grow: 1
      +screen('max', 600)
        display: none
      &:hover
        background: var(--lazur-hover)
    &_sky
      background: var(--cian)
      color: var(--white)
      max-width: 682px
      flex-grow: 1
      +screen('max', 1440)
        max-width: 311px
      +screen('max', 1023)
        max-width: 50%
      +screen('max', 600)
        max-width: 100%
      &:hover
        background: var(--lazur-hover)
    &_orange
      background: var(--yellow)
      max-width: 444px
      flex-grow: 1
      +screen('max', 1440)
        max-width: 301px
      +screen('max', 1023)
        max-width: 50%
      +screen('max', 600)
        display: none
      &:hover
        background: var(--yellow-hover)
  &__ic
    margin: 0 2rem
    vertical-align: middle
    +screen('max', 600)
      width: 40px
      margin: 0
      object-fit: contain
  &__holder
    font-family: var(--second-family)
    font-weight: 600
    +fs(22px)
    line-height: 1.05
    margin-bottom: 1rem
    +screen('max', 600)
      +fs(18px)
      margin-bottom: 0.5rem
  &__contain
    flex-grow: 1
    width: 100%
  &__sign
    +fs(14px)
    font-weight: 500
    opacity: 0.7
    +screen('max', 600)
      +fs(12px)
  &__play
    vertical-align: middle
    +screen('max', 600)
      width: 60px
  &__icn
    margin-bottom: 1.5rem
    +screen('min', 601)
      display: none