+b.pay
  +e.inner.inner
    +e.H2.title Способы покупки
    +e.list
      +e.item_orange
        +e.content
          +e.H3.caption Оплата наличными
          +e.P.txt Быстро и удобно, без дополнительных комиссий
          +e.A.more(href="#") Подробнее
        +e.IMG.pic(src='/icon/pay-1.svg' alt='')
      +e.item
        +e.H3.caption Рассрочка
        +e.P.txt Удобные графики платежей и гибкие условия
        +e.A.more(href="#") Подробнее
      +e.item
        +e.H3.caption Ипотека
        +e.P.txt Сотрудничество с ведущими банками, специальные условия и помощь в оформлении документов
        +e.IMG.icon(src='/icon/pay-2.svg' alt='')
        +e.A.more(href="#") Подробнее
      +e.item
        +e.H3.caption Трейд-ин
        +e.P.txt Мы оценим ваше текущее жилье и предложим выгодные условия обмена
        +e.A.more(href="#") Подробнее
      +e.item
        +e.H3.caption Госпрограммы
        +e.P.txt Позволяет купить или построить новое жильё по сниженной ставке, часть процентов банку компенсирует государство
        +e.A.more(href="#") Подробнее
      +e.item
        +e.H3.caption Материнский капитал
        +e.P.txt Это отличный способ улучшить жилищные условия для вашей семьи
        +e.A.more(href="#") Подробнее
    +e.row
      +e.video_blue
        +e.contain
          +e.P.holder Поможем
          +e.sign Подобрать подходящий способ покупки
        +e.IMG.ic(src='/icon/pay-3.svg' alt='')
        +e.IMG.play(src='/icon/play.svg' alt='')
      +e.video_sky
        +e.contain
          +e.P.holder Ипотечный брокер
          +e.sign Мы поможем вас с подбором ипотечной программы
        +e.IMG.play(src='/icon/play.svg' alt='')
      +e.video_orange
        +e.contain
          +e.P.holder Перейти
          +e.sign к выбору квартир
        +e.IMG.play(src='/icon/play.svg' alt='')