+b.selection
  +e.inner
    +e.container
      +e.IMG.pic(src='/img/banner-1.png' alt='')
      +e.info
        +e.P.title
          span Вдохновляющий 
          | вид на Нижний Новгород – каждый день как на ладони! 
        +e.box
          +e.txt Начинайте свое утро в жилом комплексе, где стиль и удобство становятся частью жизни
          +e.A.btn.btn_transparent._icon._cl-white
            svg(xmlns='http://www.w3.org/2000/svg' width='14' height='15' fill='none')
              path(fill='#fff' d='M12.6806 1.81938C10.9214.06019 8.05915.06022 6.29996 1.8194c-1.20163 1.20162-1.619 2.97243-1.0987 4.57901L.12018 11.4795a.41063.41063 0 0 0-.08896.133.41.41 0 0 0-.03122.157v2.3203c0 .2268.18345.4102.41016.4102H2.7305a.40987.40987 0 0 0 .28998-.1202l.57999-.5804a.41005.41005 0 0 0 .0973-.1552.41003.41003 0 0 0 .02006-.182l-.07211-.6233.86357-.0813a.40977.40977 0 0 0 .25155-.1182.40924.40924 0 0 0 .11817-.2515l.08132-.8636.62325.0725c.11574.0156.23231-.0232.32003-.1009a.41216.41216 0 0 0 .10139-.1386.41115.41115 0 0 0 .03598-.1678v-.7637h.74983a.40989.40989 0 0 0 .28998-.1202l1.05183-1.0379c1.60618.5207 3.34638.13477 4.54798-1.06767 1.7592-1.75915 1.7592-4.62147 0-6.38065Zm-1.1603 2.90034c-.4799.47986-1.2601.47986-1.74 0-.47985-.47985-.47985-1.2601 0-1.73996.4799-.47985 1.2601-.47985 1.74 0 .4798.47986.4798 1.26011 0 1.73996Z')
            span Перейти к выбору квартир