+b.about-project.section
  +e.inner.inner
    +e.head
      +e.title.display-1(data-sign="О проекте") Современный,
        br
        | спроектированный  для 
        svg(xmlns='http://www.w3.org/2000/svg' width='190' height='43' fill='none')
          rect(width='43' height='43' fill='#FFBA4F' rx='21.5')
          rect(width='43' height='43' x='49' fill='#006E90' rx='21.5')
          rect(width='43' height='43' x='98' fill='#41BDD8' rx='21.5')
          rect(width='43' height='43' x='147' fill='#C6E0EA' rx='21.5')
        | комфортной и счастливой жизни
      +e.info
        +e.item
          span Ввод
            br
            | в эксплуатацию
          p 3 кв. 2024
        +e.item
          span Стоимость
          p от 4 млн, ₽
        +e.item
          span Территория ЖК
          p 800 м²
    +e.foot
      +e.A.video(href="#" data-fancybox)
        +e.IMG.pic(src='/img/video-1.png' alt='')
        +e.SVG.play(xmlns='http://www.w3.org/2000/svg' width='66' height='46' fill='none')
          rect(width='66' height='46' fill='#FFBA4F' rx='15')
          path(fill='#4B3620' d='M39 21.7679c1.3333.7699 1.3333 2.6944 0 3.4642l-6.75 3.8971c-1.3333.7698-3-.1925-3-1.7321v-7.7942c0-1.5396 1.6667-2.5019 3-1.7321L39 21.7679Z')
      +e.content
        +e.P.txt ЖК «Сормовский дуэт» — это современный жилой комплекс, спроектированный для комфортной и счастливой жизни. Наш проект сочетает в себе передовые архитектурные решения, экологические стандарты и удобное расположение
        +e.A.more.btn_orange.js-open-modal(href="#error") Получить буклет