+b.landscaping
  +e.top.inner
    +e.head
      +e.H2.title Благоустройство
      +e.P.sign.display-3 Зеленые зоны для отдыха, спортивные площадки, детские игровые комплексы и прогулочные аллеи
    +e.nav
      +e.tabs
        +e.BUTTON.tab.btn_gray.active Архитектура
        +e.BUTTON.tab.btn_gray Территория
        +e.BUTTON.tab.btn_gray Зеленые зоны для отдыха
        +e.BUTTON.tab.btn_gray Спортивные площадки
      +b.slider-arrows
  +e.slider
    +e.slide
      +e.IMG.pic(src='/img/landscaping-1.png' alt='')
      +e.P.caption.display-3 Уникальная концепция озеленения
      +e.P.txt Ландшафтный дизайн с акцентом на природные элементы и многоуровневое озеленение территории
    +e.slide
      +e.IMG.pic(src='/img/landscaping-1.png' alt='')
      +e.P.caption.display-3 Уникальная концепция озеленения
      +e.P.txt Ландшафтный дизайн с акцентом на природные элементы и многоуровневое озеленение территории
    +e.slide
      +e.IMG.pic(src='/img/landscaping-1.png' alt='')
      +e.P.caption.display-3 Уникальная концепция озеленения
      +e.P.txt Ландшафтный дизайн с акцентом на природные элементы и многоуровневое озеленение территории