+b.visual.section
  +e.inner
    +e.IMG.pic(src='/img/visual-1.png' alt='')
    +e.info
      +e.content
        +e.H2.title Визуальный выбор
        +e.P.end 3 квартал 2025
        +e.range
          +e.line
            span
          +e.txt Готов на 65%
      +e.A.btn.btn_blue._icon
        svg(xmlns='http://www.w3.org/2000/svg' width='19' height='20' fill='none')
          path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M17.4165 6.27075h-6.75M3.75017 6.27075H1.5835')
          path(fill='#fff' d='M6.91683 8.04167c.978 0 1.7708-.79283 1.7708-1.77084 0-.978-.7928-1.77083-1.7708-1.77083S5.146 5.29283 5.146 6.27083c0 .97801.79283 1.77084 1.77083 1.77084Z')
          path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M17.4167 13.9792H15.25M8.3335 13.9792h-6.75')
          path(fill='#fff' d='M12.0833 15.7499c.978 0 1.7709-.7928 1.7709-1.7708 0-.9781-.7929-1.7708-1.7709-1.7708-.978 0-1.7708.7927-1.7708 1.7708 0 .978.7928 1.7708 1.7708 1.7708Z')
        span Выбор по параметрам
      +e.A.step.btn_transparent-white(href="#") Перейти к ходу строительства
    +b.visual-plane
      +e.P.name Этаж 7
      +e.P.sign Свободные планировки без отделки
      +e.conut
        span 349 квартир 
        |в продаже 
      +e.list
        +e.item
          p 3-к
            span (12)
          hr
          p 51 м2 - 60м2
        +e.item
          p 2-к 
            span (4)
          hr
          p 31 м2 - 50м2
        +e.item
          p 1-к
            span (18)
          hr
          p 18 м2 - 30м2
      +e.A.btn.btn_blue(href="#") Перейти к планировкам