+b.location
  +e.inner
    +e.head.inner
      +e.H2.title Близкие локации
      +b.slider-arrows
    +e.slider
      +e.slide(data-time="15 мин")
        +e.IMG.pic(src='/img/location-1.png' alt='')
        +e.P.txt Средняя школа №1
      +e.slide(data-time="15 мин")
        +e.IMG.pic(src='/img/location-2.png' alt='')
        +e.P.txt Парк «Сокольники»
      +e.slide(data-time="15 мин")
        +e.IMG.pic(src='/img/location-3.png' alt='')
        +e.P.txt Торговый центр «Галерея»
      +e.slide(data-time="15 мин")
        +e.IMG.pic(src='/img/location-1.png' alt='')
        +e.P.txt Средняя школа №1
      +e.slide(data-time="15 мин")
        +e.IMG.pic(src='/img/location-2.png' alt='')
        +e.P.txt Парк «Сокольники»
      +e.slide(data-time="15 мин")
        +e.IMG.pic(src='/img/location-3.png' alt='')
        +e.P.txt Торговый центр «Галерея»

+b.callback
  +e.inner.inner
    +e.box
      +e.P.title Получите гарантированную скидку на первые этапы продаж
      +e.A.btn.btn_orange(href="#") Оставить заявку