.plane
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3.8rem
    +screen('max', 600)
      flex-flow: column
      gap: 3rem
      align-items: flex-start
      margin-bottom: 2rem
  &__btn
    padding: 1.9rem 1.5rem
    +fs(18px)
    +screen('max', 600)
      +fs(14px)
  &__box
    padding: 5rem
    box-sizing: border-box
    background: var(--gray-xs)
    border-radius: 40px
    display: none
    +screen('max', 1200)
      padding: 4rem
    +screen('max', 1023)
      padding: 3rem 1.5rem
    +screen('max', 600)
      padding: 2rem 1.5rem
      border-radius: 20px
    &:first-of-type
      display: block
  &__more
    margin-top: 1.5rem
    width: 100%
    display: block
    text-align: center
    padding: 2rem
    +screen('max', 600)
      width: calc(100% - 3rem)
      margin-left: 1.5rem
  &__body
    +screen('max', 600)
      width: 100vw
      position: relative
      left: -1.5rem

.plane-item
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 4rem
    +screen('max', 1023)
      flex-flow: column
      align-items: flex-start
      gap: 3rem
  &__control
    display: flex
    justify-content: flex-end
    gap: .5rem
    width: 68%
    align-items: center
    +screen('max', 1440)
      max-width: 665px
    +screen('max', 1023)
      width: 100%
    +screen('max', 600)
      justify-content: flex-start
      overflow: auto
      scrollbar-width: 0
      display: flex
      gap: .5rem
      padding-top: 3rem
      position: relative
    &::-webkit-scrollbar
      height: 0
    &::before
      content: 'Тип'
      font-weight: 500
      +fs(18px)
      padding-right: 1rem
      +screen('max', 600)
        position: absolute
        top: 0
        left: 0
        +fs(14px)
  &__btn
    background: var(--white)
    flex-grow: 1
    &:hover
      background: var(--lazur-hover)
      color: var(--white)
    &.active
      background: var(--lazur)
      color: var(--white)
  &__item
    display: inline-flex
    align-items: center
    padding: 0.5rem 2rem 0.5rem .5rem
    box-sizing: border-box
    background: var(--white)
    gap: 1rem
    margin-bottom: 0.5rem
    border-radius: 100px
    +screen('max', 600)
      margin-bottom: 0
  &__icon
    flex-shrink: 0
    vertical-align: middle
    +screen('max', 600)
      width: 30px
  &__txt
    line-height: 1.1
    font-weight: 500
    +screen('max', 600)
      +fs(12px)
  &__box
    display: none
    &:first-of-type
      display: block
  &__row
    display: flex
    justify-content: space-between
    align-items: flex-start
    gap: min(80px, 5vw)
    position: relative
    +screen('max', 1200)
      gap: 2rem
    +screen('max', 1023)
      flex-flow: column-reverse
  &__left
    width: 40%
    flex-shrink: 0
    max-width: 445px
    +screen('max', 1440)
      max-width: 396px
    +screen('max', 1023)
      width: 100%
      max-width: 100%
      display: flex
      flex-flow: column
      padding-bottom: 6rem
    +screen('max', 600)
      padding-bottom: 0
  &__right
    border-radius: 40px
    background: var(--white)
    width: 68%
    position: relative
    padding-block: 3rem
    +screen('max', 1440)
      width: 60%
      max-width: 665px
    +screen('max', 1023)
      width: 100%
      padding-block: 4rem
      max-width: 100%
  &__dispatch
    display: flex
    gap: 1rem
    margin-top: 4.5rem
    +screen('max', 1200)
      flex-flow: column
      align-items: flex-start
    +screen('max', 1023)
      order: -1
      flex-flow: row
      margin-bottom: 2rem
      margin-top: 3rem
    +screen('max', 600)
      margin-top: 3rem
      order: 1
      display: block
  &__more, &__all
    +fs(14px)
    padding: 1.7rem 2.3rem
    width: 217px
    +screen('max', 1440)
      width: 200px
    +screen('max', 1023)
      width: 100%
  &__coordination
    display: flex
    justify-content: space-between
    align-items: center
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 2rem
    box-sizing: border-box
    z-index: 2
    +screen('max', 600)
      padding: 1rem
  &__view
    border-radius: 100px
    background: var(--gray-xs)
    width: 56px
    height: 56px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    +screen('max', 600)
      width: 40px
      height: 40px
    svg
      +screen('max', 600)
        transform: scale(.7)
  &__sq
    border-radius: 12px
    padding: 1.5rem 2rem
    background: var(--cian)
    color: var(--white)
    +fs(18px)
    font-weight: 500
    display: inline-block
    position: absolute
    top: 2rem
    right: 2rem
    line-height: 1
    z-index: 2
    +screen('max', 1200)
      +fs(14px)
    +screen('max', 600)
      font-weight: 500
      padding: 1.2rem
      left: 1rem
      top: 0.5rem
      right: auto
      border-radius: 10px
  &__pic
    margin: 0 auto
    transform: scale(.3)
    opacity: 0.5
    transition: .5s ease
    +screen('max', 1200)
      width: 100%
      height: 390px
      object-fit: contain
    +screen('max', 600)
      transform: scale(.6)
      height: 240px
  &__rq
    position: absolute
    bottom: 0
    right: 0
    +fs(12px)
    line-height: 110%
    color: rgba(31, 32, 35, 0.5)
    max-width: 665px
    width: 60%
    +screen('max', 1200)
      width: 55%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
    +screen('max', 600)
      position: relative
      margin-top: 3rem
  &__list
    max-width: 396px
    +screen('max', 1023)
      max-width: 100%
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: .8rem 1.5rem
  .slick-current
    .plane-item__pic
      opacity: 1
      transform: scale(1)
  .slider-arrows
    +screen('max', 600)
      display: none
  .slick-dots
    bottom: -2.5rem

.modal-plane
  max-width: 955px
  padding: 4rem
  box-sizing: border-box
  &__pic
    margin: 0 auto
    max-width: 100%
    object-fit: contain
    +screen('max', 600)
      height: 250px