include ../static/pug/head
+head('Главная')
body
  main
    +header()
    include ../modules/banner/banner
    include ../modules/proposal/proposal
    include ../modules/about-project/about-project
    include ../modules/features/features
    include ../modules/tech/tech
    include ../modules/landscaping/landscaping
    include ../modules/vantage/vantage
    include ../modules/place/place
    include ../modules/location/location
    include ../modules/finished/finished
    include ../modules/plane/plane
    include ../modules/visual/visual
    include ../modules/news/news
    include ../modules/callback/callback
    include ../modules/pay/pay
    include ../modules/build/build
    include ../modules/selection/selection
    include ../modules/team/team
    include ../modules/contacts/contacts
    include ../modules/docs/docs
    include ../modules/footer/footer
  include ../static/pug/scripts
