include ../static/pug/head
+head('Согласие на обработку персональных данных')
body
  main
    +header()
    +b.text-box
      +e.inner.inner
        +e.container
          h1 Согласие на обработку персональных данных
          p Оставляя на сайте delvig-dom.ru (далее – сайт) заявку на: бесплатную консультацию, обратный звонок, получение рекламной, рекламно-информационной и иной информации, подписку, участие в мероприятиях, акциях и розыгрышах, запись в лист ожидания/бронь, запись на приём или экскурсию/онлайн-тур, подписываясь на получение новостей, либо иным образом направляя свои персональные данные, Пользователь принимает настоящее Согласие на обработку персональных данных, указанных в заявке (далее — Согласие).
          p Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность Пользователь дает Обществу с ограниченной ответственностью «Столица Нижний РИЭЛТИ» (ИНН 5262117340; юр. адрес: Нижегородская обл., г. Нижний Новгород, ул. Цветочная (Приокский), д. 7, корп. 2, пом. П1, далее - «Оператор»), свое согласие на обработку персональных данных в соответствии с Федеральным законом от 27.07.2006 года N 152-ФЗ "О персональных данных".
          p Своим согласием Пользователь подтверждает согласие третьих лиц, информация о которых размещается на сайте, на передачу и обработку их персональных данных и предоставляет право Оператору на осуществление любых действий в отношении персональных данных третьих лиц, которые необходимы для достижения целей обработки персональных данных, указанных в настоящем Согласии.
          p Под персональными данными понимаются данные субъекта персональных данных, размещенные на сайте, не являющиеся специальными или биометрическими, такие как: фамилия, имя, отчество, дата и место рождения, пол, адрес, семейное положение, паспортные данные, адрес электронной почты, контактный номер телефона, а также все иные персональные данные, доступные либо известные в любой конкретный момент времени Оператору.
          h4 Обработка персональных данных Пользователя производится Оператором в целях:
          p предоставления бесплатных консультаций и направления информации в рамках продвижения своих товаров и услуг, включая информацию о специальных предложениях, рекламных акциях, проводимых мероприятиях, их результатах, подбора недвижимости;
          p получения сводной информации о пользователях сайта в маркетинговых целях, ведения и актуализации клиентской базы, осуществление клиентской поддержки;
          p аналитики действий Пользователя на сайте и функционирования сайта, проведения исследований с целью повышения качества предоставляемых услуг.
          p В ходе обработки персональных данных могут быть совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; обезличивание; использование; передачу (предоставление, доступ); блокирование; удаление; уничтожение, а также осуществление иных действий с персональными данными с учетом действующего законодательства, как без использования средств автоматизации, так и с их использованием, в т.ч. с использованием интернет-сервисов Google analytics, Яндекс.Метрика. Оператор принимает все необходимые меры для защиты персональных данных.
          p Оператор также собирает следующие сведения об Устройстве, используемом Пользователем, с которого осуществляется использование сайта: IP-адрес и адрес точки подключения Пользователя, месторасположение Устройства, версия операционной системы и модель/тип Устройства, уникальный идентификатор Устройства; cookie-файлы; а также статистические данные о посещении и использовании сайта (время начала и завершения сессии, язык интерфейса, размер окна браузера и т.п.).
          p Датой выдачи Согласия является дата заполнения анкеты/заявки с персональными данными. Настоящее Согласие действует до достижения целей обработки персональных данных или в течение сроков хранения информации, установленных законодательством РФ.
          h4 Отзыв Согласия может быть произведен Пользователем путем направления письменного уведомления (на выбор):
          ul
            li по почтовому адресу: 603006, г. Нижний Новгород, ул. М.Горького, д.117, оф.317.
            li на адрес электронной почты: 
              a(href="mailto:stn@stn52.ru") stn@stn52.ru
          p Оператор обязуется в течение 30 (тридцати) рабочих дней с момента получения уведомления об отзыве согласия на обработку персональных данных Пользователя прекратить их обработку, уничтожить и уведомить Пользователя об уничтожении персональных данных.
        +e.A.btn.btn_transparent(href="#") < Вернуться на главную
    include ../modules/footer/footer
  include ../static/pug/scripts
