include ../static/pug/head
+head('Новости')
body
  main
    +header()
    include ../modules/news/sale
    include ../modules/callback/callback
    include ../modules/news/interested
    include ../modules/footer/footer
  include ../static/pug/scripts
