+b.modal(data-modal="#place")
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container
    +b.place-modal
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/place-2.png' alt='')
          +e.info
            +e.P.caption Лифтовый холл
            +e.P.txt Авторский подход к планированию общественных пространств
        +e.slide
          +e.IMG.pic(src='/img/place-2.png' alt='')
          +e.info
            +e.P.caption Лифтовый холл
            +e.P.txt Авторский подход к планированию общественных пространств
  +b.slider-arrows

+b.modal(data-modal="#finish")
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_finish
    +b.modal-finish
      +e.nav
        +e.BUTTON.btn.btn_gray.active(data-slide='1') Зал
        +e.BUTTON.btn.btn_gray(data-slide='2') Ванная комната
        +e.BUTTON.btn.btn_gray(data-slide='3') Спальня
        +e.BUTTON.btn.btn_gray(data-slide='4') Кухня
        +e.BUTTON.btn.btn_gray(data-slide='5') Кладовая
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
  +b.slider-arrows

+b.modal(data-modal="#plane")
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_plane
    +b.modal-plane
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
  +b.slider-arrows