+b.modal(data-modal="#place")
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container
    +b.place-modal
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/place-2.png' alt='')
          +e.info
            +e.P.caption Лифтовый холл
            +e.P.txt Авторский подход к планированию общественных пространств
        +e.slide
          +e.IMG.pic(src='/img/place-2.png' alt='')
          +e.info
            +e.P.caption Лифтовый холл
            +e.P.txt Авторский подход к планированию общественных пространств
  +b.slider-arrows

+b.modal(data-modal="#finish")
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_finish
    +b.modal-finish
      +e.nav
        +e.BUTTON.btn.btn_gray.active(data-slide='1') Зал
        +e.BUTTON.btn.btn_gray(data-slide='2') Ванная комната
        +e.BUTTON.btn.btn_gray(data-slide='3') Спальня
        +e.BUTTON.btn.btn_gray(data-slide='4') Кухня
        +e.BUTTON.btn.btn_gray(data-slide='5') Кладовая
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
        +e.slide
          +e.IMG.pic(src='/img/finished-1.png' alt='')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 73%; left: 12%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 42%; left: 40%;")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
          +e.view(data-sign="Новейшая технология покрытия стены" style="top: 30%;left: 85%")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='16' fill='none' viewBox="0 0 24 16")
              path(fill='#006E90' d='M12 .84689C7.41454.84689 3.25621 3.35563.18779 7.4305c-.25039.33384-.25039.80024 0 1.13409C3.2562 12.6444 7.41454 15.1531 12 15.1531c4.5855 0 8.7438-2.5087 11.8122-6.5836.2504-.33385.2504-.80025 0-1.13409C20.7438 3.35563 16.5855.84689 12 .84689Zm.3289 12.19021c-3.04384.1915-5.5575-2.3172-5.36603-5.36604.15711-2.51365 2.19454-4.55108 4.70823-4.70819 3.0438-.19147 5.5575 2.31728 5.366 5.36606-.162 2.50877-2.1994 4.54617-4.7082 4.70817Zm-.1522-2.3271c-1.6397.1031-2.99474-1.24698-2.88673-2.88674.08346-1.35502 1.18323-2.44983 2.53823-2.5382 1.6397-.1031 2.9948 1.247 2.8867 2.88677-.0883 1.35993-1.1881 2.45477-2.5382 2.53817Z')
  +b.slider-arrows

+b.modal(data-modal="#plane")
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_plane
    +b.modal-plane
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
        +e.slide
          +e.IMG.pic(src='/img/plane-1-full.png ' alt='')
  +b.slider-arrows

+b.modal-work
  +e.inner.inner
    +e.overlay
    +e.container
      +e.head
        +e.IMG.icon(src='/icon/logo.svg' alt='')
        +e.cntrl
          +e.nav
            +e.A.btn.btn_gray.active(href="#photo") Фотоочет
            +e.A.btn.btn_gray(href="#video") Видеоотчет
          +e.close
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
              path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
      +e.body
        +e.box(data-view="#photo")
          +e.content
            +e.title.display-3 Ход строительства
            +e.P.sign Фотоотчет за период
            +e.row
              +e.DETAILS.select
                +e.SUMMARY.txt 2024
                +e.list
                  li 2023
                  li 2022
                  li 2021
              +e.DETAILS.select
                +e.SUMMARY.txt Сентябрь
                +e.list
                  li Октябрь
                  li Ноябрь
                  li Декабрь
            +e.slider
              +e.slide
                +e.IMG.pic(src='/img/work-slider-1.png' alt='')
              +e.slide
                +e.IMG.pic(src='/img/work-slider-1.png' alt='')
              +e.slide
                +e.A.video(href="")
                  +e.IMG.pic(src='/img/work-slider-1.png' alt='')
            +e.text В сентябре 2024 года завершена кладка стен и установка окон в 80% квартир. Начались внутренние отделочные работы и монтаж лифтов в первых секциях. Также ведутся работы по прокладке инженерных коммуникаций и благоустройству территории: устанавливаются тротуары и проводится озеленение.
          +e.control
            +b.slider-dots
            +b.slider-arrows
        +e.box(data-view="#video")
          +e.content
            +e.title.display-3 Ход строительства
            +e.P.sign Видео за период
            +e.row
              +e.DETAILS.select
                +e.SUMMARY.txt 2024
                +e.list
                  li 2023
                  li 2022
                  li 2021
              +e.DETAILS.select
                +e.SUMMARY.txt Сентябрь
                +e.list
                  li Октябрь
                  li Ноябрь
                  li Декабрь
            +e.slider
              +e.slide
                +e.A.video(href="#")
                  +e.IMG.pic(src='/img/work-slider-1.png' alt='')
              +e.slide
                +e.IMG.pic(src='/img/work-slider-1.png' alt='')
              +e.slide
                +e.A.video(href="")
                  +e.IMG.pic(src='/img/work-slider-1.png' alt='')
            +e.text В сентябре 2024 года завершена кладка стен и установка окон в 80% квартир. Начались внутренние отделочные работы и монтаж лифтов в первых секциях. Также ведутся работы по прокладке инженерных коммуникаций и благоустройству территории: устанавливаются тротуары и проводится озеленение.
          +e.control
            +b.slider-dots
            +b.slider-arrows


+b.modal(data-modal="#form")
  +e.gradient_orange
  +e.overlay
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_action
    +b.modal-form
      +e.FORM.action
        +e.P.title.display-3 Отправить заявку
        +e.P.subtitle Введите свои данные и мы вас бесплатно проконсультируем
        +e.row
          +e.INPUT.field(placeholder="Имя")
          +e.INPUT.field(placeholder="Email")
        +e.BUTTON.submit.btn_orange Отправить
        +e.label Отправляя свои данные Вы соглашаетесь с 
          a(href="#") политикой обработки персональных данных

+b.modal(data-modal="#success" )
  +e.gradient_blue
  +e.overlay
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_action
    +b.modal-form
      +e.IMG.pic(src='/icon/success.svg' alt='')
      +e.P.title.display-3 Ваша заявка получена!
      +e.P.subtitle Мы перезвоним вам в ближайшее время
      +e.BUTTON.btn.btn_orange.js-close-modal Хорошо!

+b.modal(data-modal="#error" )
  +e.gradient_red
  +e.overlay
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_action
    +b.modal-form
      +e.IMG.pic(src='/icon/error.svg' alt='')
      +e.P.title.display-3 Что-то не так
      +e.P.subtitle Произошла ошибка, попробуйте отправить заявку еще раз
      +e.BUTTON.btn.btn_orange.js-close-modal Хорошо!

+b.modal(data-modal="#success-sub" )
  +e.gradient_blue
  +e.overlay
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_action
    +b.modal-form
      +e.IMG.pic(src='/icon/success.svg' alt='')
      +e.P.title.display-3 Ваша подписка оформлена!
      +e.BUTTON.btn.btn_orange.js-close-modal Хорошо!

+b.modal(data-modal="#error-sub" )
  +e.gradient_red
  +e.overlay
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container_action
    +b.modal-form
      +e.IMG.pic(src='/icon/error.svg' alt='')
      +e.P.title.display-3 Не удалось подписаться
      +e.P.subtitle Произошла ошибка, попробуйте оформить подписку еще раз
      +e.BUTTON.btn.btn_orange.js-close-modal Хорошо!

+b.modal-pay
  +e.overlay.js-close-modal
  +e.close.js-close-modal
    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none')
      path(fill='#006E90' fill-rule='evenodd' d='M15.3626 1.56187c.1952-.19526.1952-.51184 0-.7071-.1953-.19527-.5119-.19527-.7071 0l-6.65144 6.6514L1.3525.85461C1.15724.65935.84065.65935.6454.8546c-.19527.19526-.19527.51184 0 .70711l6.65155 6.65156L.64539 14.8648c-.19526.1953-.19526.5119 0 .7071.19526.1953.51185.1953.70711 0l6.65156-6.65151 6.65144 6.65141c.1952.1953.5118.1953.7071 0 .1952-.1953.1952-.5118 0-.7071L8.71117 8.21328l6.65143-6.65141Z' clip-rule='evenodd')
  +e.container
    +e.P.title.display-2 Trade-in
    +e.P.txt Часто бывает, что для покупки новой квартиры нужно продать имеющуюся недвижимость. Менеджеры офиса продаж помогут вам выбрать квартиру в нашем жилом комплексе, которая будет соответствовать вашим требованиям, а также с помощью партнеров реализовать имеющуюся квартиру.
    +e.caption Какие есть варианты?
    +e.info
      h5 Trade-in с выкупом квартиры
      h5 Trade-in без выкупа.
        sup *
      p
        sup * 
        | Предложение ограничено сроком ввода дома в эксплуатацию и наличием квартир в продаже. Возможность использования услуги Trade-in без выкупа на конкретный дом уточняйте в отделе продаж «Столица Нижний РИЭЛТИ».
    +e.control
      +e.nav
        +e.btn
          svg(xmlns='http://www.w3.org/2000/svg' width='6' height='8' fill='none')
            path(fill='#006E90' d='M.87287 3.24407c-.46046.39877-.46046 1.11309 0 1.51186l3.47248 3.00725C4.99299 8.32406 6 7.864 6 7.00725V.99275C6 .136 4.99299-.32405 4.34535.23682L.87287 3.24407Z')
        +e.btn
          svg(xmlns='http://www.w3.org/2000/svg' width='6' height='8' fill='none')
            path(fill='#006E90' d='M5.12713 3.24407c.46046.39877.46046 1.11309 0 1.51186L1.65465 7.76318C1.00701 8.32406 0 7.864 0 7.00725V.99275C0 .136 1.00701-.32405 1.65465.23682l3.47248 3.00725Z')
      +e.A.call.btn_orange Получить консультацию