+b.vantage
  +e.inner.inner
    +e.item
      +e.P.caption
        span 75 
        span деревьев
      +e.txt Высадили в этом году для озеленения территории жилого комплекса
    +e.item
      +e.P.caption
        span 3 
        span км
      +e.txt Велосипедных дорожек для активного отдыха и прогулок
    +e.item
      +e.subs(data-count="+75")
        +e.IMG.icon(src='/img/sub-1.png' alt='')
        +e.IMG.icon(src='/img/sub-2.png' alt='')
        +e.IMG.icon(src='/img/sub-3.png' alt='')
        +e.IMG.icon(src='/img/sub-3.png' alt='')
        +e.IMG.icon(src='/img/sub-4.png' alt='')
        +e.IMG.icon(src='/img/sub-4.png' alt='')
        +e.IMG.icon(src='/img/sub-5.png' alt='')
        +e.IMG.icon(src='/img/sub-6.png' alt='')
        +e.IMG.icon(src='/img/sub-7.png' alt='')
      +e.P.holder Более 1000 часов работы уже вложено в создание комфортной и современной инфраструктуры 