+b.place
  +e.inner.inner
    +e.H3.title Места общественного пользования
    +e.row
      +e.outer-slider(data-sign="1-й этаж")
        +e.slider
          +e.slide
            +e.IMG.pic(src='/img/place-1.png' alt='')
            +e.info
              +e.P.caption Отделка стен натуральными материалами
              +e.P.txt В общественных пространствах царит лаконичный минимализмс отсылкой к «ар-деко»
          +e.slide
            +e.IMG.pic(src='/img/place-1.png' alt='')
            +e.info
              +e.P.caption Отделка стен натуральными материалами
              +e.P.txt В общественных пространствах царит лаконичный минимализмс отсылкой к «ар-деко»
        +b.slider-arrows
      +e.outer-slider(data-sign="Типовой этаж")
        +e.slider
          +e.slide
            +e.IMG.pic(src='/img/place-2.png' alt='')
            +e.info
              +e.P.caption Лифтовый холл
              +e.P.txt Авторский подход к планированию общественных пространств
          +e.slide
            +e.IMG.pic(src='/img/place-2.png' alt='')
            +e.info
              +e.P.caption Лифтовый холл
              +e.P.txt Авторский подход к планированию общественных пространств
        +b.slider-arrows