+b.place
  +e.inner.inner
    +e.H3.title Места общественного пользования
    +e.row
      +e.outer-slider(data-sign="1-й этаж")
        +e.slider
          +e.slide
            +e.IMG.pic(src='/img/place-1.png' alt='')
            +e.info
              +e.P.caption Отделка стен натуральными материалами
              +e.P.txt В общественных пространствах царит лаконичный минимализмс отсылкой к «ар-деко»
          +e.slide
            +e.IMG.pic(src='/img/place-1.png' alt='')
            +e.info
              +e.P.caption Отделка стен натуральными материалами
              +e.P.txt В общественных пространствах царит лаконичный минимализмс отсылкой к «ар-деко»
        +b.slider-arrows
        +e.A.view.js-open-modal(href="#place")
          svg(xmlns='http://www.w3.org/2000/svg' width='30' height='29' fill='none')
            path(fill='#006E90' d='M24.0391 5.25075c.6076-.04362 1.1127.46147 1.0691 1.06904l-.329 4.58191c-.0613.8545-1.0987 1.2413-1.7045.6354l-4.2529-4.25285c-.6058-.60582-.2191-1.64319.6355-1.70454l4.5818-.32896ZM6.06388 5.25075c-.60757-.04362-1.11267.46147-1.06904 1.06904l.32896 4.58191c.06135.8545 1.09872 1.2413 1.70454.6354l4.25286-4.25285c.6058-.60582.2191-1.64319-.6355-1.70454l-4.58182-.32896ZM23.1427 24.6534c.6075.0436 1.1126-.4614 1.069-1.069l-.329-4.5819c-.0613-.8545-1.0987-1.2413-1.7045-.6355l-4.2529 4.2529c-.6058.6058-.219 1.6432.6355 1.7046l4.5819.3289ZM5.96085 24.6535c-.60757.0437-1.11266-.4614-1.06904-1.069l.32896-4.5819c.06135-.8545 1.09872-1.2413 1.70454-.6354L11.1782 22.62c.6058.6059.2191 1.6432-.6355 1.7046l-4.58185.3289Z')
      +e.outer-slider(data-sign="Типовой этаж")
        +e.slider
          +e.slide
            +e.IMG.pic(src='/img/place-2.png' alt='')
            +e.info
              +e.P.caption Лифтовый холл
              +e.P.txt Авторский подход к планированию общественных пространств
          +e.slide
            +e.IMG.pic(src='/img/place-2.png' alt='')
            +e.info
              +e.P.caption Лифтовый холл
              +e.P.txt Авторский подход к планированию общественных пространств
        +b.slider-arrows
        +e.A.view.js-open-modal(href="#place")
          svg(xmlns='http://www.w3.org/2000/svg' width='30' height='29' fill='none')
            path(fill='#006E90' d='M24.0391 5.25075c.6076-.04362 1.1127.46147 1.0691 1.06904l-.329 4.58191c-.0613.8545-1.0987 1.2413-1.7045.6354l-4.2529-4.25285c-.6058-.60582-.2191-1.64319.6355-1.70454l4.5818-.32896ZM6.06388 5.25075c-.60757-.04362-1.11267.46147-1.06904 1.06904l.32896 4.58191c.06135.8545 1.09872 1.2413 1.70454.6354l4.25286-4.25285c.6058-.60582.2191-1.64319-.6355-1.70454l-4.58182-.32896ZM23.1427 24.6534c.6075.0436 1.1126-.4614 1.069-1.069l-.329-4.5819c-.0613-.8545-1.0987-1.2413-1.7045-.6355l-4.2529 4.2529c-.6058.6058-.219 1.6432.6355 1.7046l4.5819.3289ZM5.96085 24.6535c-.60757.0437-1.11266-.4614-1.06904-1.069l.32896-4.5819c.06135-.8545 1.09872-1.2413 1.70454-.6354L11.1782 22.62c.6058.6059.2191 1.6432-.6355 1.7046l-4.58185.3289Z')