.banner
  &__inner
    padding-inline: 1rem
    +screen('max', 600)
      padding: 0
  &__container
    position: relative
  &__videos
    position: absolute
    top: 2rem
    right: 2rem
    +screen('max', 600)
      top: 1rem
      left: 1.5rem
      right: auto
  &__video
    padding: 2rem
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    max-width: 300px
    border-radius: 15px
    margin-bottom: .5rem
    font-weight: 500
    box-sizing: border-box
    transition: .5s ease
    +screen('max', 600)
      +fs(12px)
      padding: 0.8rem 1rem
      text-wrap: balance
      max-width: 203px
    svg
      flex-shrink: 0
    &_blue
      background: var(--lazur)
      color: var(--white)
      path
        fill: var(--brown)
      rect
        fill: var(--yellow)
        transition: .5s ease
      &:hover
        background: var(--lazur-hover)
        rect
          fill: var(--yellow-hover)
    &_white
      background: var(--white)
      color: var(--black)
      path
        fill: var(--white)
      rect
        fill: var(--lazur)
        transition: .5s ease
      &:hover
        background: var(--lazur-hover)
        color: var(--white)
        rect
          fill: var(--yellow-hover)
  &__slide
    position: relative
    color: var(--white)
  &__title
    margin-bottom: 1.5rem
  &__subtitle
    +fs(22px)
    font-family: var(--second-family)
    line-height: 1.05
    font-weight: 600
    margin-bottom: 4rem
    +screen('max', 600)
      +fs(20px)
      margin-bottom: 2rem
      max-width: calc(100% - 3rem)
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 40px
    object-fit: cover
    +screen('max', 1440)
      height: 607px
    +screen('max', 1200)
      border-radius: 30px
    +screen('max', 1023)
      border-radius: 20px
    +screen('max', 600)
      height: 500px
  &__content
    position: absolute
    bottom: 3rem
    left: 6rem
    +screen('max', 1200)
      left: 1.5rem
      bottom: 4rem
  .slider-arrows
    position: absolute
    bottom: 3rem
    right: 6rem
    +screen('max', 1200)
      right: 1.5rem
      bottom: 4rem
    +screen('max', 600)
      display: none
  .slick-dots
    right: 2rem
    left: auto
    bottom: 4rem
    z-index: 2
    li
      background: var(--white)