+b.features
  +e.inner
    +e.head.inner
      +e.H2.title Особенности
      +b.slider-arrows
    +e.slider
      +e.slide
        +e.wrap
          +e.IMG.pic(src='/img/slide-2.png' alt='')
          +e.conetnt
            +e.P.caption.display-3 Современные и стильные интерьерыи холы
            +e.P.txt Дизайн, продуманный до мелочей, создает атмосферу уюта и комфорта
      +e.slide
        +e.IMG.pic(src='/img/slide-3.png' alt='')
        +e.filling
          +e.P.holder Большие панорамные окна
          +e.P.txt Наслаждайтесь природным светом и потрясающими видами
      +e.slide
        +e.IMG.pic(src='/img/slide-3.png' alt='')
        +e.filling
          +e.P.holder Большие панорамные окна
          +e.P.txt Наслаждайтесь природным светом и потрясающими видами
      +e.slide
        +e.IMG.pic(src='/img/slide-3.png' alt='')
        +e.filling
          +e.P.holder Большие панорамные окна
          +e.P.txt Наслаждайтесь природным светом и потрясающими видами