mixin header()
  +b.HEADER.header
    +e.inner.inner
      +e.A.home(href="/")
        +e.IMG.icon(src='/icon/logo.svg' alt='')
      +e.NAV.nav
        +e.open-nav
          svg(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none')
            rect(width='5' height='5' fill='#006E90' rx='1')
            rect(width='5' height='5' x='7' fill='#006E90' rx='1')
            rect(width='5' height='5' y='7' fill='#006E90' rx='1')
            rect(width='5' height='5' x='7' y='7' fill='#006E90' rx='1')
          span Меню
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") О проекте
            +e.UL.dropdown
          +e.LI.item
            +e.A.link(href="#") Расположение
            +e.UL.dropdown
          +e.LI.item
            +e.A.link(href="#") Отделка
            +e.UL.dropdown
          +e.LI.item
            +e.A.link(href="#") Цены и планировки
      +e.info
        +e.A.btn.btn_transparent._icon(href="#")
          svg(xmlns='http://www.w3.org/2000/svg' width='14' height='15' fill='none')
            path(fill='#231F20' d='M12.6806 1.81938C10.9214.06019 8.05915.06022 6.29996 1.8194c-1.20163 1.20162-1.619 2.97243-1.0987 4.57901L.12018 11.4795a.41063.41063 0 0 0-.08896.133.41.41 0 0 0-.03122.157v2.3203c0 .2268.18345.4102.41016.4102H2.7305a.40987.40987 0 0 0 .28998-.1202l.57999-.5804a.41005.41005 0 0 0 .0973-.1552.41003.41003 0 0 0 .02006-.182l-.07211-.6233.86357-.0813a.40977.40977 0 0 0 .25155-.1182.40924.40924 0 0 0 .11817-.2515l.08132-.8636.62325.0725c.11574.0156.23231-.0232.32003-.1009a.41216.41216 0 0 0 .10139-.1386.41115.41115 0 0 0 .03598-.1678v-.7637h.74983a.40989.40989 0 0 0 .28998-.1202l1.05183-1.0379c1.60618.5207 3.34638.13477 4.54798-1.06767 1.7592-1.75915 1.7592-4.62147 0-6.38065Zm-1.1603 2.90034c-.4799.47986-1.2601.47986-1.74 0-.47985-.47985-.47985-1.2601 0-1.73996.4799-.47985 1.2601-.47985 1.74 0 .4798.47986.4798 1.26011 0 1.73996Z')
          span Выбрать планировку
        +e.call
          +e.A.phone(href="tel:8 (800) 987-65-56") 8 (800) 987-65-56
          +e.sign Обратный звонок
          +e.A.open-modal(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='43' height='44' fill='none')
              rect(width='43' height='43' fill='#FFBA4F' rx='21.5' transform='matrix(-1 0 0 1 43 .5)')
              g
                  path(fill='#FFBA4F' d='M13 12.5h18v18H13z')
                  path(fill='#4B3620' d='m30.5068 25.7102-2.5119-2.512c-.8972-.8971-2.4223-.5382-2.7811.628-.2692.8075-1.1663 1.256-1.9737 1.0766-1.7943-.4486-4.2165-2.7811-4.6651-4.6651-.2691-.8074.2692-1.7046 1.0766-1.9737 1.1662-.3588 1.5251-1.8839.628-2.7811l-2.512-2.5119c-.7177-.628-1.7942-.628-2.4222 0l-1.7046 1.7045c-1.7045 1.7943.1795 6.5491 4.396 10.7655 4.2165 4.2165 8.9712 6.1903 10.7655 4.396l1.7045-1.7046c.628-.7177.628-1.7942 0-2.4222Z')