+b.FOOTER.footer
  +e.inner.inner
    +e.left
      +e.A.home(href="/")
        +e.IMG.icon(src='/icon/logo-3.svg' alt='')
      +e.box
        +e.P.caption Офис продаж
        +e.P.txt г.Н.Новгород, ул. М. Горького, 117, БЦ «Столица Нижний», 3 этаж, офис 317
        +e.P.txt Пн-Чт: 9:00 до 19:00
          br
          | Пт: 9:00 до 18:00
      +e.box
        +e.P.caption Почта
        +e.A.mail(href="mailto:stn@stn52.ru") stn@stn52.ru
      +e.social
        +e.A.link(href="#")
          +e.IMG.soc(src='/icon/soc-1.svg' alt='')
        +e.A.link(href="#")
          +e.IMG.soc(src='/icon/soc-2.svg' alt='')
        +e.A.link(href="#")
          +e.IMG.soc(src='/icon/soc-3.svg' alt='')
    +e.middle
      +e.nav
        +e.item
          +e.A.link_bold(href="#") О проекте
          +e.A.link(href="#") Особенности 
          +e.A.link(href="#") Благоустройство 
        +e.item
          +e.A.link_bold(href="#") Благоустройство
          +e.A.link(href="#") Места поблизости 
        +e.item
          +e.A.link_bold(href="#") Отделка 
          +e.A.link_bold(href="#") Цены и планировки
          +e.A.link_bold(href="#") Новости и акции
      +e.nav
        +e.item
          +e.A.link_bold(href="#") Способы покупки
          +e.A.link_bold(href="#") Ход стрительства
          +e.A.link_bold(href="#") Контакты
          +e.A.link_bold(href="#") Документация
    +e.right
      +e.up
        svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none')
          rect(width='40' height='40' y='40' fill='#006E90' rx='20' transform='rotate(-90 0 40)')
          path(fill='#fff' d='M19.2437 17.3944c.3988-.4605 1.1131-.4605 1.5118 0l2.3295 2.6898c.5609.6477.1009 1.6547-.7559 1.6547h-4.659c-.8567 0-1.3168-1.007-.7559-1.6547l2.3295-2.6898Z')
      +e.A.phone.display-2(href="tel:8 (800) 987-65-56") 8 (800) 987-65-56
      +e.A.btn.btn_transparent(href="#") Обратный звонок
      +e.info
        +e.P.polit Политика конфиденциальности
        +e.work Дизайн 
          a(href="#")  NEXMAN
        +e.copy Девелопер - «Столица Нижний»
          br
          | Застройщик - ООО СЗ "Старт-Строй"
          br
          | Проектные декларации на сайте наш.дом.рф.
          br
          | Официальный сайт. Не является публичной офертой.
        +e.copy © 2024 «Сормовский Дуэт». Все права защищены