.footer
  margin-top: 4.2rem
  padding-bottom: 2rem
  +screen('max', 600)
    padding-bottom: 0
  &__inner
    display: flex
    align-items: flex-start
    position: relative
    padding-block: 5rem 3rem
    gap: 5rem
    +screen('max', 1023)
      flex-wrap: wrap
    +screen('max', 600)
      padding-top: 25rem
      gap: 0
    &:before
      content: ''
      width: calc(100% + 10rem)
      height: 100%
      position: absolute
      top: 0
      left: -5rem
      background: var(--gray-xs)
      border-radius: 40px
      z-index: -1
      +screen('max', 1200)
        width: 100%
        left: 0
      +screen('max', 600)
        border-radius: 20px
  &__home
    display: inline-block
    margin-bottom: 3rem
    +screen('max', 600)
      position: absolute
      top: 3.5rem
      left: 0
      right: 0
      text-align: center
  &__box
    margin-bottom: 2.5rem
  &__caption
    +fs(16px)
    font-weight: 600
    line-height: 1.1
    margin-bottom: 1.2rem
  &__txt
    +fs(16px)
    line-height: 1.15
    color: var(--black-60)
    margin-bottom: 1rem
  &__mail
    +fs(16px)
    font-weight: 500
    color: var(--lazur)
  &__social
    margin-top: 5rem
    display: flex
    gap: 1rem
    +screen('max', 600)
      position: absolute
      top: 20rem
      right: 1.5rem
      flex-flow: column
  &__left
    max-width: 271px
  &__right
    flex-grow: 1
    text-align: right
    width: 40%
    +screen('max', 600)
      text-align: left
  &__middle
    display: flex
    gap: 3.5rem
    width: 40%
    +screen('max', 1023)
      order: -1
      width: 100%
    +screen('max', 600)
      display: block
  &__item
    margin-bottom: 3.5rem
    +screen('max', 600)
      margin-bottom: 1.5rem
  &__link
    display: block
    line-height: 1.1
    margin-bottom: 1rem
    color: var(--black-60)
    &_bold
      margin-bottom: 2rem
      +fs(18px)
      font-weight: 600
      color: var(--black)
      +screen('max', 600)
        margin-bottom: 1.5rem
  &__up
    position: absolute
    top: -2.25rem
    right: 0
    +screen('max', 1200)
      right: 2rem
  &__phone
    display: block
    margin-bottom: 3rem
    +screen('max', 600)
      position: absolute
      top: 12.5rem
      left: 0
      right: 0
      margin: 0 auto
      text-align: center
  &__btn
    +screen('max', 600)
      position: absolute
      top: 0
      left: 1.5rem
      width: calc(100% - 3rem)
      top: 17rem
  &__info
    margin-top: 8rem
    +screen('max', 600)
      margin-top: 0
  &__polit
    +fs(14px)
    color: rgba(31, 32, 35, 0.5)
    margin-bottom: 1rem
    +screen('max', 600)
      +fs(16px)
  &__work
    color: rgba(31, 32, 35, 0.5)
    margin-bottom: 4rem
    +screen('max', 600)
      margin-bottom: 2rem
    a
      color: var(--black)
      font-weight: 700
  &__copy
    +fs(14px)
    line-height: 1.1
    color: rgba(31, 32, 35, 0.5)
    margin-bottom: 1.5rem