.docs
  +screen('max', 1023)
    padding-top: 3rem
  &__title
    margin-bottom: 4rem
    +screen('max', 1023)
      margin-bottom: 3rem
  &__list
    display: flex
    gap: 2.6rem
    +screen('max', 1023)
      flex-wrap: wrap
  &__item
    background: var(--gray-xs)
    padding: 3rem 2.5rem
    border-radius: 30px
    box-sizing: border-box
    +screen('max', 1200)
      padding: 3rem 1.5rem
    +screen('max', 1023)
      width: calc(50% - 1.6rem)
  &__sign
    margin-bottom: 1.5rem
    line-height: 1.1
    color: var(--black-60)
  &__txt
    font-weight: 600
    +fs(18px)
    line-height: 1.05
    font-family: var(--second-family)
    margin-bottom: 5.7rem
  &__download
    color: var(--black-40)
    svg
      margin-right: .5rem
      vertical-align: middle
    span
      vertical-align: middle
  &__info
    margin-top: 4rem
    +fs(12px)
    line-height: 1.1
    color: rgba(31, 32, 35, 0.5)
