+b.docs.section
  +e.inner.inner
    +e.H2.title Документация
    +e.list
      +e.item
        +e.P.sign Документация
        +e.P.txt Разрешительная документация
        +e.A.download(href="#" download)
          svg(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none')
            path(stroke='#1F2023' stroke-linecap='round' stroke-linejoin='round' stroke-opacity='.4' d='M7.7998 1.5V11m0 0-3.5-3.5m3.5 3.5 3.5-3.5M2.2998 13h10.5')
          span Скачать
      +e.item
        +e.P.sign Документация
        +e.P.txt Проектные декларации
        +e.A.download(href="#" download)
          svg(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none')
            path(stroke='#1F2023' stroke-linecap='round' stroke-linejoin='round' stroke-opacity='.4' d='M7.7998 1.5V11m0 0-3.5-3.5m3.5 3.5 3.5-3.5M2.2998 13h10.5')
          span Скачать
      +e.item
        +e.P.sign Документация
        +e.P.txt Проектная документация
        +e.A.download(href="#" download)
          svg(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none')
            path(stroke='#1F2023' stroke-linecap='round' stroke-linejoin='round' stroke-opacity='.4' d='M7.7998 1.5V11m0 0-3.5-3.5m3.5 3.5 3.5-3.5M2.2998 13h10.5')
          span Скачать
      +e.item
        +e.P.sign Дополнительные материалы
        +e.P.txt Буклет «Сормовский Дуэт»
        +e.A.download(href="#" download)
          svg(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none')
            path(stroke='#1F2023' stroke-linecap='round' stroke-linejoin='round' stroke-opacity='.4' d='M7.7998 1.5V11m0 0-3.5-3.5m3.5 3.5 3.5-3.5M2.2998 13h10.5')
          span Скачать
    +e.info Девелопер - «Столица Нижний». Застройщик - ООО СЗ "Регионинвест" Проектная декларация на сайте наш.дом.рф. Официальный сайт. Не является публичной офертой. Представленные материалы и оборудование демонстрируется в целях художественной визуализации, являются примером. Марка или производитель оборудования и материалов могут меняться без ухудшения свойств без какого-либо уведомления. Цветовые решения фасадов, и иные проектные решения могут быть изменен