+b.tech
  +e.inner.inner
    +e.head
      +e.P.title.display-3(data-sign="Технология") Умный дом
      +e.sign Современные технологии умного дома делают жизнь комфортнее и безопаснее, позволяя вам управлять ключевыми системами дома прямо с мобильного устройства
    +e.list
      +e.item
        +e.IMG.icon(src='/icon/tech-1.svg' alt='')
        +e.P.txt Контроль доступа на зарытую территорию с моб.устройства
      +e.item
        +e.IMG.icon(src='/icon/tech-2.svg' alt='')
        +e.P.txt Управление доступом в подъезд с моб. устройства
      +e.item
        +e.IMG.icon(src='/icon/tech-3.svg' alt='')
        +e.P.txt Умный домофонс функцией распознавания лиц и бесконтактным доступом
      +e.item
        +e.IMG.icon(src='/icon/tech-4.svg' alt='')
        +e.P.txt Комплексная система видеонаблюдения за придомовой территорией и местами общего пользования