.tech
  margin: 14rem 0
  +screen('max', 1200)
    margin: 7rem 0
  +screen('max', 600)
    margin: 5rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2rem
    margin-bottom: 6rem
    +screen('max', 1200)
      align-items: start
    +screen('max', 1023)
      flex-flow: column
      align-items: flex-start
    +screen('max', 600)
      margin-bottom: 3rem
  &__title
    &::before
      content: attr(data-sign)
      font-weight: 400
      font-size: 18px
      font-family: var(--font-family)
      letter-spacing: normal
      opacity: 0.6
      margin-bottom: 1rem
      display: block
  &__sign
    +fs(22px)
    font-weight: 600
    line-height: 1.05
    font-family: var(--second-family)
    max-width: 713px
    +screen('max', 1200)
      max-width: 50%
    +screen('max', 1023)
      max-width: 100%
    +screen('max', 600)
      +fs(18px)
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2.5rem
    +screen('max', 1200)
      gap: 1.5rem
    +screen('max', 600)
      grid-template-columns: repeat(2, 1fr)
      gap: 1rem
  &__item
    padding: 2rem
    box-sizing: border-box
    border: 1px solid var(--cian)
    border-radius: 25px
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: flex-start
    gap: 2rem
    +screen('max', 1023)
      padding: 1rem
    +screen('max', 600)
      padding: 1.2rem
      gap: 1rem
  &__icon
    +screen('max', 600)
      width: 40px
  &__txt
    font-weight: 500
    line-height: 1.1
    +screen('max', 600)
      +fs(12px)