+b.over-news
  +e.inner.inner
    +e.left
      +e.IMG.preview(src='/img/news.png' alt='')
    +e.right
      +b.news-details
        +e.control
          +b.state_news Новости
          +e.BUTTON.share.btn_icon._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='19' height='20' fill='none')
              path(fill='#006E90' d='M15.2344 12.9688c-1.1577 0-2.1863.5625-2.8273 1.4285l-5.51835-2.8201a3.50513 3.50513 0 0 0 .1425-.9913 3.4965 3.4965 0 0 0-.2568-1.31844L12.558 5.79254c.6454.75742 1.6057 1.23871 2.6764 1.23871 1.9385 0 3.5156-1.57711 3.5156-3.51563C18.75 1.57711 17.1729 0 15.2344 0c-1.9385 0-3.5157 1.57711-3.5157 3.51562a3.50004 3.50004 0 0 0 .2379 1.2711L6.15859 8.27031c-.64484-.73508-1.59058-1.2-2.64297-1.2C1.57711 7.07031 0 8.64742 0 10.5859c0 1.9386 1.57711 3.5157 3.51562 3.5157 1.17665 0 2.22001-.5811 2.85848-1.4714l5.5023 2.8119a3.50795 3.50795 0 0 0-.1577 1.0423c0 1.9385 1.5772 3.5156 3.5157 3.5156s3.5156-1.5771 3.5156-3.5156c0-1.9385-1.5771-3.5156-3.5156-3.5156Zm0-11.79692c1.2923 0 2.3437 1.0514 2.3437 2.34374 0 1.29235-1.0514 2.34376-2.3437 2.34376-1.2924 0-2.3438-1.05141-2.3438-2.34376 0-1.29234 1.0514-2.34374 2.3438-2.34374ZM3.51562 12.9297c-1.29234 0-2.34374-1.0514-2.34374-2.3438 0-1.29231 1.0514-2.34371 2.34374-2.34371 1.29235 0 2.34375 1.0514 2.34375 2.34371 0 1.2924-1.0514 2.3438-2.34375 2.3438Zm11.71878 5.8984c-1.2924 0-2.3438-1.0514-2.3438-2.3437 0-1.2924 1.0514-2.3438 2.3438-2.3438 1.2923 0 2.3437 1.0514 2.3437 2.3438 0 1.2923-1.0514 2.3437-2.3437 2.3437Z')
              path(fill='#006E90' d='M3.51562 12.9297c-1.29234 0-2.34374-1.0514-2.34374-2.3438 0-1.29231 1.0514-2.34371 2.34374-2.34371 1.29235 0 2.34375 1.0514 2.34375 2.34371 0 1.2924-1.0514 2.3438-2.34375 2.3438ZM15.2344 1.17188c1.2923 0 2.3437 1.0514 2.3437 2.34374 0 1.29235-1.0514 2.34376-2.3437 2.34376-1.2924 0-2.3438-1.05141-2.3438-2.34376 0-1.29234 1.0514-2.34374 2.3438-2.34374ZM15.2344 18.8281c-1.2924 0-2.3438-1.0514-2.3438-2.3437 0-1.2924 1.0514-2.3438 2.3438-2.3438 1.2923 0 2.3437 1.0514 2.3437 2.3438 0 1.2923-1.0514 2.3437-2.3437 2.3437Z')
            span Поделиться
        +e.head
          +e.P.date 01.02.2024
          +e.H1.title Скидка до 15% на кладовые помещения
        +e.body
          +e.IMG.preview(src='/img/news.png' alt='')
          +e.text
            h3 Новый жилой комплекс комфорт-класса, который мы построим в развивающемся Нижегородском районе на юго-востоке Москвы. В 10 минутах пешком станция метро и МЦК «Нижегородская», а на авто можно добраться до Садового кольца за 10 минут. 
            p Новый жилой комплекс комфорт-класса, который мы построим в развивающемся Нижегородском районе на юго-востоке Москвы. В 10 минутах пешком станция метро и МЦК «Нижегородская», а на авто можно добраться до Садового кольца за 10 минут. В радиусе 5,5 км расположены 6 парков: Народный парк Карачарово, Кусковский и Терлецкий лесопарки, Перовский, Измайловский и Кузьминский парки. На территории площадью 2,64 га расположатся восемь корпусов переменной этажности с подземным паркингом, кладовыми и коммерческими помещениями на первых этажах под магазины, кафе и другие сервисы.
            h2 h2
            h3 h3

      +b.gallery
        +e.head
          +e.P.title.display-2 Галерея
          +b.slider-arrows
        +e.slider
          +e.slide
            +e.IMG.pic(src='/img/gallery-1.png' alt='')
          +e.slide
            +e.IMG.pic(src='/img/gallery-2.png' alt='')
          +e.slide
            +e.IMG.pic(src='/img/gallery-1.png' alt='')
          +e.slide
            +e.IMG.pic(src='/img/gallery-2.png' alt='')

      +b.blockquote
        +e.text БК счастью для Павловой, Гердт сумел распознать сущность ее таланта. Ему было больно видеть, как его хрупкая ученица пытается выполнить то, что легко давалось мускулистой итальянской танцовщице. Он посоветовал ей не гнаться за эффектами, подвергающими опасности ее хрупкий организм.
        +e.author
          +e.IMG.icon(src='/img/author.png' alt='')
          +e.name Олег Рой