+b.news.section
  +e.inner.inner
    +e.head
      +e.H3.title Вас может заинтересовать
      +b.slider-arrows
    +e.body
      +e.slider
        +e.slide
          +e.top
            +b.state_sale Акции
            +b.timer Осталось 30:05:05
            +e.IMG.pic(src='/img/news-1.png' alt='')
          +e.foot
            +e.P.date 01.02.2024
            +e.H3.caption
              a(href="#") Сезонные скидки на квартиры
            +e.P.txt Экономьте до 10% на покупке квартиры в период акции
        +e.slide
          +e.top
            +b.state_news Новости
            +e.IMG.pic(src='/img/news-2.png' alt='')
          +e.foot
            +e.P.date 01.02.2024
            +e.H3.caption
              a(href="#") Открытие нового детского сада в ЖК
            +e.P.txt Новый детский сад с современным оборудованием и квалифицированным персоналом
        +e.slide
          +e.top
            +b.state_news Новости
            +e.IMG.pic(src='/img/news-3.png' alt='')
          +e.foot
            +e.P.date 01.02.2024
            +e.H3.caption
              a(href="#") Специальные условия ипотечного кредитования
            +e.P.txt Сниженные процентные ставки и упрощенные условия получения ипотеки
        +e.slide
          +e.top
            +b.state_news Новости
            +e.IMG.pic(src='/img/news-4.png' alt='')
          +e.foot
            +e.P.date 01.02.2024
            +e.H3.caption
              a(href="#") Специальные условия ипотечного кредитования
            +e.P.txt Сниженные процентные ставки и упрощенные условия получения ипотеки