+b.news-list
  +e.inner.inner
    +e.head
      +e.H2.title Новости и акции
      +e.sort
        +e.BUTTON.all.btn_gray.active(data-count="(15)") Все
        +e.BUTTON.btn.btn_gray._icon(data-count="(3)")
          svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox="0 0 24 24")
            path(fill='#006E90' d='M19.6924 4.25336H8.69689a2.9161 2.9161 0 0 0-2.47382.82484 2.91595 2.91595 0 0 0-.82485 2.47382V18.5476c0 .5832-.23169 1.1426-.6441 1.555a2.19918 2.19918 0 0 1-1.55501.6441H19.6924a2.91619 2.91619 0 0 0 2.4739-.8249c.32-.32.5611-.7102.7043-1.1395.1432-.4294.1844-.8862.1205-1.3343V7.55202a2.91598 2.91598 0 0 0-.1205-1.33425 2.91686 2.91686 0 0 0-.7043-1.13957 2.91643 2.91643 0 0 0-1.1396-.70436 2.91632 2.91632 0 0 0-1.3343-.12048ZM14.1947 15.8834a.89838.89838 0 0 1-.0371.4104.89712.89712 0 0 1-.2168.3506.89537.89537 0 0 1-.3505.2167.89609.89609 0 0 1-.4105.0371H9.71178a.89596.89596 0 0 1-.41049-.0371.89612.89612 0 0 1-.35059-.2167.8968.8968 0 0 1-.21671-.3506.89688.89688 0 0 1-.0371-.4104v-2.3685a.89731.89731 0 0 1 .25381-.7611.89845.89845 0 0 1 .35059-.2167.89868.89868 0 0 1 .41049-.0371h3.46802a.89881.89881 0 0 1 .4105.0371.89769.89769 0 0 1 .5673.5673c.044.1321.0567.2727.0371.4105v2.3685Zm5.4977 1.2897h-2.1991a.8249.8249 0 0 1-.5831-.2415.82448.82448 0 0 1-.2415-.5831c0-.2188.0868-.4285.2415-.5832a.8249.8249 0 0 1 .5831-.2415h2.1991c.2188 0 .4285.0869.5832.2415a.82496.82496 0 0 1 .2415.5832.8249.8249 0 0 1-.2415.5831.82496.82496 0 0 1-.5832.2415Zm0-3.2986h-2.1991a.82458.82458 0 0 1-.5831-.2416.8243.8243 0 0 1-.2415-.5831.8243.8243 0 0 1 .2415-.5831.82458.82458 0 0 1 .5831-.2416h2.1991a.82473.82473 0 0 1 .5832 1.4078.82464.82464 0 0 1-.5832.2416Zm0-4.39826H9.52155a.82463.82463 0 0 1-.82466-.82466.82465.82465 0 0 1 .82466-.82467H19.6924c.2188 0 .4285.08689.5832.24154a.82487.82487 0 0 1 .2415.58313.82484.82484 0 0 1-.2415.58312.82475.82475 0 0 1-.5832.24154ZM2.37554 19.0974a1.37361 1.37361 0 0 1-.52673-.1042 1.37274 1.37274 0 0 1-.44657-.2981 1.37266 1.37266 0 0 1-.29812-.4466A1.37309 1.37309 0 0 1 1 17.7218v-6.8711a2.20573 2.20573 0 0 1 2.19911-2.19912h.54978v9.07022a1.37464 1.37464 0 0 1-.1042.5261 1.37404 1.37404 0 0 1-.29759.4461 1.37487 1.37487 0 0 1-.97156.4034Z')
          span Новости
        +e.BUTTON.btn.btn_gray._icon(data-count="(17)")
          svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox="0 0 24 24")
            path(fill='#E33E3E' d='M10.4847 23.2589c-2.54113-.247-5.1176-1.4823-6.38819-3.7059-1.2353-2.2235-.91765-5.047-.0353-7.4823l.74118 2.1176c.07059.2118.17647.4589.35294.5647.28236.1765.67059.0353.88235-.247.17648-.2824.21177-.6353.17648-.953-.10589-1.4117-.91765-2.7176-.95295-4.12937-.03529-1.62353.98824-3.10588 2.25883-4.12941.03529.56471.17647 1.16471.35294 1.69412.07059.21176.21176.42353.42353.45882.14117 0 .28235-.07059.38823-.17647 1.05883-.88235 1.69416-2.15294 1.94116-3.49412.1059-.67059.1059-1.37647-.0353-2.04706-.0353-.14117-.3176-.84706-.247-.95294.1058-.21176.7058.24706.847.31765 2.3294 1.48235 3.8824 4.12941 3.9177 6.88235 0 .42353.0706.98824.4941 1.05883.2471.03529.4941-.10589.6353-.31765s.1412-.45882.1765-.70588c1.6588 1.48235 2.8588 3.31763 3.6705 5.36473.4589 1.2.7765 2.5059.5295 3.7764-.2118 1.1648-.7765 2.2236-1.5883 3.1059-1.3412 1.5177-3.1412 2.7177-5.1529 2.9294-1.0588.1059-2.1883.1412-3.3883.0706Z')
            path(fill='#fff' d='M16.6969 21.6353c-.0706.2471-.1765.5295-.2824.7765-.7764.4235-1.6235.7059-2.5059.7765-.6705.0706-1.3411.1059-2.047.1059-.4235 0-.8824 0-1.3412-.0353-.81176-.0706-1.62353-.2471-2.4-.5294-.42353-.6-.70588-1.3059-.81176-2.0118-.24706-1.5529.21176-3.1412 1.09412-4.4471.14117-.2117.45882-.1411.52941.1059.24706.8118.77647 1.553 1.37643 2.1883.1765.1764.4589.0705.4942-.1765.0705-.8471.247-2.4353.5647-3.2824.3882-1.0588.9882-2.0823 1.8706-2.8235.1764-.1412.4235-.0706.4588.1765.1764 1.0588.7059 2.047 1.2353 3 .6353 1.0588 1.3411 2.1176 1.6588 3.3176.3176.8824.3529 1.9059.1059 2.8588Z')
            path(fill='#F5F5F9' d='M16.6969 21.6353c-.0706.2471-.1765.5295-.2824.7765-.7764.4235-1.6235.7059-2.5059.7765-.6705.0706-1.3411.1059-2.047.1059-.4235 0-.8824 0-1.3412-.0353-.81176-.0706-1.62353-.2471-2.4-.5294-.42353-.6-.70588-1.3059-.81176-2.0118-.24706-1.5529.21176-3.1412 1.09412-4.4471.14117-.2117.45882-.1411.52941.1059.24706.8118.77647 1.553 1.37643 2.1883.1765.1764.4589.0705.4942-.1765.0705-.8471.247-2.4353.5647-3.2824.3882-1.0588.9882-2.0823 1.8706-2.8235.1764-.1412.4235-.0706.4588.1765.1764 1.0588.7059 2.047 1.2353 3 .6353 1.0588 1.3411 2.1176 1.6588 3.3176.3176.8824.3529 1.9059.1059 2.8588Z')
          span Акции
    +e.list
      +e.item
        +e.top
          +b.state_sale Акции
          +b.timer Осталось 30:05:05
          +e.IMG.pic(src='/img/news-1.png' alt='')
        +e.foot
          +e.P.date 01.02.2024
          +e.H3.caption
            a(href="#") Сезонные скидки на квартиры
          +e.P.txt Экономьте до 10% на покупке квартиры в период акции
      - for(var i = 0; i < 8; i++){
        +e.item
          +e.top
            +b.state_news Новости
            +e.IMG.pic(src='/img/news-2.png' alt='')
          +e.foot
            +e.P.date 01.02.2024
            +e.H3.caption
              a(href="#") Открытие нового детского сада в ЖК
            +e.P.txt Новый детский сад с современным оборудованием и квалифицированным персоналом
      - }
    +e.pagination
      +e.A.pag.active(href="#") 1
      +e.A.pag(href="#") 2
      +e.A.pag(href="#") 3
      +e.A.pag(href="#") 4
      +e.A.pag(href="#") 5
      +e.A.pag(href="#") ...
      +e.A.pag(href="#") Следующая страница
        svg(xmlns='http://www.w3.org/2000/svg' width='6' height='8' fill='none')
          path(fill='#006E90' d='M5.12713 3.24407c.46046.39877.46046 1.11309 0 1.51186L1.65465 7.76318C1.00701 8.32406 0 7.864 0 7.00725V.99275C0 .136 1.00701-.32405 1.65465.23682l3.47248 3.00725Z')
