.contacts
  &__container
    position: relative
    &:before
      content: ''
      position: absolute
      width: 100%
      height: calc(100% + 10rem)
      top: -5rem
      left: 0
      background-image: url(../img/contacts.png)
      border-radius: 40px
      background-repeat: no-repeat
      background-size: cover
      z-index: -1
      +screen('max', 1440)
        width: calc(100% + 10rem)
        left: -5rem
      +screen('max', 1200)
        width: 100%
        height: calc(100% + 2rem)
        left: 0
        top: -1rem
      +screen('max', 600)
        content: none
  &__info
    border-radius: 30px
    background: var(--white)
    padding: 4rem 3.5rem
    box-sizing: border-box
    max-width: 416px
    position: relative
    margin-left: 5rem
    +screen('max', 1440)
      margin-left: 0
    +screen('max', 1200)
      margin-left: 1rem
    +screen('max', 600)
      padding: 0
      margin-left: 0
  &__title
    margin-bottom: 3rem
  &__box
    padding: 2rem
    border-radius: 15px
    background: var(--gray-xs)
    position: relative
    margin-bottom: 3rem
    transition: .5s ease
    &:hover
      background: var(--yellow-hover)
  &__phone
    font-weight: 600
    +fs(22px)
    font-family: var(--second-family)
    +screen('max', 600)
      +fs(20px)
  &__time
    font-weight: 500
    color: var(--black-60)
    +fs(14px)
  &__icon
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 2rem
    path, rect
      transition: .5s ease
    &:hover
      path
        fill: var(--white)
      rect
        fill: var(--lazur-hover)
  &__item
    margin-bottom: 2rem
  &__caption
    +fs(18px)
    font-weight: 600
    line-height: 1.1
    margin-bottom: 1.2rem
  &__txt
    +fs(18px)
    line-height: 1.15
    color: var(--black-60)
    +screen('max', 600)
      +fs(16px)
  &__mail
    +fs(18px)
    font-weight: 500
    color: var(--lazur)
    transition: .5s ease
    &:hover
      color: var(--lazur-hover)
  &__btn
    margin-top: .8rem
    padding: 2rem 3.75rem
    +screen('max', 600)
      width: 100%
  &__social
    position: absolute
    right: 3.5rem
    bottom: 4rem
    display: flex
    flex-flow: column
    gap: 0.5rem
    +screen('max', 600)
      flex-flow: row
      bottom: 9rem
      right: 0
    circle
      transition: .5s ease
      &:hover
        fill: var(--lazur-hover)