+b.contacts
  +e.inner.inner
    +e.container
      +e.info
        +e.H2.title Контакты
        +e.box
          +e.phone +7 (831) 211-86-36
          +e.time Ежедневно с 09:00 до 22:00
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='43' height='44' fill='none')
            rect(width='43' height='43' fill='#FFBA4F' rx='21.5' transform='matrix(-1 0 0 1 43 .5)')
            path(fill='#4B3620' d='m30.5068 25.7102-2.5119-2.512c-.8972-.8971-2.4223-.5382-2.7811.628-.2692.8075-1.1663 1.256-1.9737 1.0766-1.7943-.4486-4.2165-2.7811-4.6651-4.6651-.2691-.8074.2692-1.7046 1.0766-1.9737 1.1662-.3588 1.5251-1.8839.628-2.7811l-2.512-2.5119c-.7177-.628-1.7942-.628-2.4222 0l-1.7046 1.7045c-1.7045 1.7943.1795 6.5491 4.396 10.7655 4.2165 4.2165 8.9712 6.1903 10.7655 4.396l1.7045-1.7046c.628-.7177.628-1.7942 0-2.4222Z')
        +e.item
          +e.P.caption Офис продаж
          +e.P.txt г.Н.Новгород, ул. М. Горького, 117, БЦ «Столица Нижний», 3 этаж, офис 317
        +e.item
          +e.P.caption Часы работы
          +e.P.txt Пн-Чт: 9:00 до 19:00
            br
            | Пт: 9:00 до 18:00
        +e.item
          +e.P.caption Почта
          +e.A.mail(href="mailto:stn@stn52.ru") stn@stn52.ru
        +e.A.btn.btn_orange Получить консультацию
        +e.social
          +e.A.link(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none')
              circle(cx='20' cy='20' r='20' fill='#006E90')
              g(clip-path='url(#a)')
                  path(fill='#fff' d='M20.7747 25.9958c.406 0 .572-.2706.5673-.61-.0207-1.278.476-1.966 1.3727-1.0693.992.992 1.1973 1.6793 2.402 1.6793H27.25c.5387 0 .7507-.1733.7507-.4453 0-.5753-.9474-1.5907-1.75-2.336-1.124-1.0433-1.1767-1.068-.2087-2.324 1.2007-1.5593 2.7713-3.5573 1.382-3.5573H24.77c-.5147 0-.552.29-.7353.722-.6634 1.5646-1.924 3.5913-2.4027 3.2813-.5007-.3233-.2713-1.604-.2333-3.5073.01-.5027.0073-.8474-.7607-1.026-.4193-.0967-.8273-.1367-1.206-.1367-1.5153 0-2.5607.6353-1.9667.746 1.0474.1953.9467 2.4613.7027 3.44-.4253 1.704-2.024-1.3493-2.69-2.87-.1607-.3653-.21-.6493-.7833-.6493h-2.17c-.328 0-.5247.1066-.5247.344 0 .4013 1.9733 4.48 3.8573 6.5133 1.8374 1.9833 3.6534 1.8053 4.9174 1.8053Z')
              defs
                  clippath#a
                      path(fill='#fff' d='M12 14h16v16H12z')
          +e.A.link(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none')
              circle(cx='20' cy='20' r='20' fill='#006E90')
              path(fill='#fff' d='m15.7399 15.9732 6.0134-2.0067c2.7-.9 4.1666.5734 3.2733 3.2734l-2.0067 6.0133c-1.3466 4.0467-3.56 4.0467-4.9066 0l-.5934-1.7867-1.7866-.5933c-4.04-1.34-4.04-3.5467.0066-4.9Z')
              path(fill='#FFBA4F' d='m19.0801 19.7532 2.54-2.5467-2.54 2.5467Z')
              path(fill='#006E90' d='M17.7529 21.9998c-.1914 0-.3827-.0702-.5338-.2206-.2921-.2909-.2921-.7723 0-1.0632l3.8275-3.8313c.2921-.2909.7756-.2909 1.0677 0 .2921.2908.2921.7722 0 1.0631l-3.8276 3.8314c-.151.1404-.3424.2206-.5338.2206Z')
          +e.A.link(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none')
              circle(cx='20' cy='20' r='20' fill='#006E90')
              rect(width='14' height='11' x='14' y='15' fill='#fff' rx='3')
              path(fill='#006E90' d='M22.5 20.134c.6667.3849.6667 1.3471 0 1.732l-1.5.8661c-.6667.3849-1.5-.0963-1.5-.8661v-1.732c0-.7698.8333-1.251 1.5-.8661l1.5.8661Z')
