+b.contacts
  +e.inner.inner
    +e.container
      +e.info
        +e.H2.title Контакты
        +e.box
          +e.phone +7 (831) 211-86-36
          +e.time Ежедневно с 09:00 до 22:00
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='43' height='44' fill='none')
            rect(width='43' height='43' fill='#FFBA4F' rx='21.5' transform='matrix(-1 0 0 1 43 .5)')
            g
              path(fill='#FFBA4F' d='M13 12.5h18v18H13z')
              path(fill='#4B3620' d='m30.5068 25.7102-2.5119-2.512c-.8972-.8971-2.4223-.5382-2.7811.628-.2692.8075-1.1663 1.256-1.9737 1.0766-1.7943-.4486-4.2165-2.7811-4.6651-4.6651-.2691-.8074.2692-1.7046 1.0766-1.9737 1.1662-.3588 1.5251-1.8839.628-2.7811l-2.512-2.5119c-.7177-.628-1.7942-.628-2.4222 0l-1.7046 1.7045c-1.7045 1.7943.1795 6.5491 4.396 10.7655 4.2165 4.2165 8.9712 6.1903 10.7655 4.396l1.7045-1.7046c.628-.7177.628-1.7942 0-2.4222Z')
        +e.item
          +e.P.caption Офис продаж
          +e.P.txt г.Н.Новгород, ул. М. Горького, 117, БЦ «Столица Нижний», 3 этаж, офис 317
        +e.item
          +e.P.caption Часы работы
          +e.P.txt Пн-Чт: 9:00 до 19:00
            br
            | Пт: 9:00 до 18:00
        +e.item
          +e.P.caption Почта
          +e.A.mail(href="mailto:stn@stn52.ru") stn@stn52.ru
        +e.A.btn.btn_orange Получить консультацию
        +e.social
          +e.A.link(href="#")
            +e.IMG.soc(src='/icon/soc-1.svg' alt='')
          +e.A.link(href="#")
            +e.IMG.soc(src='/icon/soc-2.svg' alt='')
          +e.A.link(href="#")
            +e.IMG.soc(src='/icon/soc-3.svg' alt='')